<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team01.dao.IOrderInfoDao">

    <resultMap id="paperResultMap" type="com.team01.domain.OrderInfo">
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="productName" column="product_name"/>
        <result property="customerName" column="customer_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="rentTotal" column="rent_total"/>
    </resultMap>


    <insert id="addOrderInfo" parameterType="com.team01.domain.OrderInfo">
        insert into order_list(product_id,customer_id,product_name,customer_name,start_time,end_time,rent_total)
        VALUE(#{productId},#{customerId},#{productName},#{customerName},#{startTime},#{endTime},#{rentTotal})
    </insert>

    <select id="queryAllOrderInfo" resultMap="paperResultMap">
        select *
        from order_list
    </select>

    <select id="queryByOrderName" resultMap="paperResultMap" parameterType="String">
        select *
        from order_list where concat(product_name,customer_name) like "%"#{productName}"%"
    </select>

    <select id="queryInvalidOrder" resultMap="paperResultMap">
        select *from order_list
        where TIMESTAMPDIFF(YEAR,DATE_FORMAT(end_time,'%Y-%m-%d'),DATE_FORMAT(NOW(),'%Y-%m-%d'))>5
    </select>

    <delete id="deleteOrderInfo" parameterType="int">
        delete from order_list where order_id=#{orderId}
    </delete>

    <select id="queryByCurrentPage" parameterType="page" resultMap="paperResultMap">
        select *from order_list limit #{page.pageIndex},#{page.pageSize}
    </select>







</mapper>